.Libary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Libary select {
    width: 100%;
}

.Libary ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.Libary li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
    padding: 1rem;
    border: 1px solid black;
}

.Libary .li-left, .li-right {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Libary .adding-dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    padding: 1rem;
}

